.pList{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pListItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.pListImage{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pListTitle>h2{
font-size: 18px;
}

.pListTitle>p{
    font-size: 13px;
    font-weight: 300;
}
