.fp{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.fpImg{
    width: 100%;
}

.fpName{
    font-weight: bold;
}

.fpPrice{
    font-weight: 500;
}
.fpCity{
    font-weight: 300;
}

.fpRating>button{
    background-color: blue;
    color: white;
    border: none;
    margin-right: 10px;
    padding: 3px;
    font-weight: bold;
}
.fpRating>span{
    font-size: 14px;
}